<!-- index.handlebars -->
{{{main}}} <!-- Asegúrate de pasar el token al contexto de products.handlebars -->

<main class="flex-grow-1 w-100 d-flex flex-column">
  <h2 class="subtitle mt-4 mb-2 text-center">MY CART</h2>
  {{!-- {{#if message}}
    message
  {{else}} --}}
    <section
      id="movies"
      class="d-flex flex-column justify-content-center align-items-center m-auto mt-2 mb-4 bg-light"
      style="width: 360px;"
    >
      <article class="w-100 d-flex border border-danger">
        <p style="width: 100px;" class="m-0 p-2 fw-bold"></p>
        <p
          style="width: 100px;"
          class="d-flex justify-content-start align-items-center m-0 p-2 fw-bold"
        >Title</p>
        <p
          style="width: 100px;"
          class="d-flex justify-content-end align-items-center m-0 p-2 fw-bold"
        >Price</p>
        <p style="width: 60px;" class="m-0 p-2 fw-bold"></p>
        
      </article>
      {{#each orders}}
        <article class="w-100 d-flex border border-danger">
          <img
            src={{this.product_id.photo}}
            style="width: 100px; heigth: 100px"
            style="height: 100px; width: 100px"
            class="object-fit-cover m-0"
            alt="{{this.product_id.title}}"
          />
          <p
            class="d-flex justify-content-start align-items-center m-0 p-2"
            style="width: 100px;"
          >{{this.product_id.title}}
            <br />
            Stock: {{this.product_id.stock}}</p>
          <p
            class="d-flex justify-content-end align-items-center m-0 p-2"
            style="width: 100px;"
          >USD {{this.product_id.price}}</p>
          <span
            class="d-flex justify-content-center align-items-center m-0 p-2"
            style="width: 60px;"
          >

          <button
      
        type="button"
         class="deleteButton btn btn-danger"
        id={{this._id}}
      >Delete</button>
  
        </article>
      {{/each}}
    {{!-- </section>
    <span class="w-100 d-flex justify-content-center">
      {{#if prev}}
        <a
          class="btn btn-danger fs-5 m-4 mt-0"
          href="/?title={{filter}}&page={{prev}}"
        >PREV</a>
      {{/if}}
      {{#if next}}
        <a
          class="btn btn-danger fs-5 m-4 mt-0"
          href="/?title={{filter}}&page={{next}}"
        >NEXT</a>
      {{/if}}
    </span> --}}
  {{!-- {{/if}} --}}
</main>
<script src="/scripts/orders.js"></script>